/*
 * File: style.css
 *
 * Created: 27 may 2018 23:25:19
 * Last Modified: 04 jul 2018 16:44:32
 *
 * Copyright (c) 2018, Iván Ruvalcaba <mario.i.ruvalcaba[at]gmail[dot]com>
 * Author: Iván Ruvalcaba <mario.i.ruvalcaba[at]gmail[dot]com>
 */

:root {
  --body-background-color: whitesmoke;
  --dark-background-font-color: white;
  --highlight-dates-color: #d11141;
  --highlight-editable-columns-color: #46b29d;
  --highlight-row-confirmation-required-color: #e28c54;
  --text-muted-color: #6c757d;
}

body {
  background-color: var(--body-background-color);
  padding-top: 70px;
}

.form-signin input[type="text"] {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: -1px;
}

.form-signin input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-bottom: 10px;
}

.form-signin .form-control {
  box-sizing: border-box;
  font-size: 16px;
  height: auto;
  padding: 10px;
  position: relative;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.th-editable-column,
.th-expandable-editable-column {
  background-color: var(--highlight-editable-columns-color);
  color: var(--dark-background-font-color);
}

.app-branding {
  max-height: 24px;
  max-width: 24px;
}

.form-signin {
  margin: auto;
  max-width: 330px;
  padding: 15px;
  width: 100%;
}

.highlight-title {
  color: var(--highlight-dates-color);
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.mt-5 {
  margin-top: 3rem !important;
}

.patron-branding {
  height: 180px;
  width: 180px;
}

.react-bs-table-insert-modal {
  margin-top: 70px;
}

.rbc-time-slot {
  min-height: 80px;
}

.rw-calendar-btn-view {
  color: var(--highlight-dates-color);
  font-weight: 900;
}

.text-muted {
  color: var(--text-muted-color) !important;
  font-size: 2rem;
}

.td-column-confirmation-required {
  background-color: var(--highlight-row-confirmation-required-color) !important;
  color: var(--dark-background-font-color) !important;
}
